@font-face {
	font-family: 'LibertineR';
	src: url('fonts/LinLibertine_R.otf');
}

@font-face {
	font-family: 'LibertineRZ';
	src: url('fonts/LinLibertine_RZ.otf');
}

@font-face {
	font-family: 'LibertineRZI';
	src: url('fonts/LinLibertine_RZI.otf');
}

@font-face {
	font-family: 'GeorgiaX';
	src: url('fonts/GEORGIA.ttf');
}