---
layout: compress
---

{% include head.html %}

    <main>

        {% include header.html %}

        <h1>{{ page.title }}</h1>

        {{ page.content }}

        {% for tag in site.tags %}
            <h2> {{ tag[0] }} </h2></br>
            {% for post in tag[1] %}
                <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
                <span class="mini-note">
                    {{ post.date | date: "%b %-d, %Y" }}
                </span>
            {% endfor %}
        {% endfor %}

    </main>

    {% include footer.html %}

</body>
</html>
